<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} | webPlot</title>

    {% if theme_color is defined %}
        <meta name="theme-color" content="{{ theme_color }}">
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}

</head>
<body>
<div class="ui menu borderless">
    <a class="header item" href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        webPlot Demo
    </a>
    {% block menu %}{% endblock %}
</div>
{% block body %}{% endblock %}
<footer class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eight wide column">
                <h4 class="ui header">Informationen</h4>
                <div class="ui link list">
                    <a class="item" href="mailto:fachschaft@physik.kit.edu?subject=Issue%20report" target="_blank">
                        <i class="bug icon"></i>Submit an Issue
                    </a>
                    <a class="item" href="https://fachschaft.physik.kit.edu/" target="_blank">
                        <i class="home icon"></i>Fachschaft
                    </a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header">Legal</h4>
                <div class="ui link list">
                    <a class="item" href="https://fachschaft.physik.kit.edu/drupal/content/datenschutzerkl%C3%A4rung" target="_blank">
                        <i class="shield alternate icon"></i>Data protection
                    </a>
                    <a class="item" href="https://fachschaft.physik.kit.edu/drupal/content/impressum" target="_blank">
                        <i class="info icon"></i>Imprint
                    </a>
                </div>
            </div>
        </div>
        <div class="ui horizontal small divided link list">
            <p class="item">&copy; 2021 Fachschaft Physik</p>
        </div>
    </div>
</footer>
</body>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
{% block script_body %}{% endblock %}

</html>