{% extends 'base.jinja2' %}

{% block body %}
    <div class="ui main container">
        <h1 class="ui header">webPlot Demo</h1>
        <a class="ui primary button" href="config"><i class="icon pen"></i>Config</a>
    </div>
{% endblock %}